@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-overlay {
    background-color: rgba(0, 0, 0, 0.4); 
    transition: 0.5s;
  }

.hoverEffectt:hover .custom-overlay{
    background-color: rgba(0, 0, 0, 0.1);
}

.saclezoom{
    transform: scale(1);
    transition: 0.5s;
}

.parentzoom:hover .saclezoom{
    transform: scale(1.5);
}


.search-input{
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    font-weight: bold;
    color: white;
    background: rgba(255, 255, 255, 0.053); 
    backdrop-filter: blur(3px);
    border: 2px rgba(255, 255, 255, 0.715) solid;
    border-right: none;
    user-select: none;
}

.search-input::placeholder {
    color: #545151;
    font-weight: 400px;
}

.search-button{
    border-radius: 0px 20px 20px 0px;
    border-left: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.053); 
    backdrop-filter: blur(3px);
    border: 2px rgba(255, 255, 255, 0.715) solid;
    border-left: none;
}

.search-button:hover{
    background: rgba(255, 251, 251, 0.541); 
}

.shadoweffect{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
  
